@tailwind base;
@tailwind components;
@tailwind utilities;

/* .main {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/bg.jpg");
  background-size: cover;
  background-position: center center;
} */
